#navbar {
    height: 50px;
    margin: auto;
    margin-top: 10px;
    width: 91%;
    border: 0.25px solid #c3c3c3;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
}
#navbar:hover {
    box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.2);
}
#navbar > .right {
    display: flex;
    justify-content: space-between;
    width: 48.75%;
}
#navbar > .left {
    width: 20%;
    display: flex;
    margin-left: 2%;
}
.link {
    width: 33.33%;
    padding: 1.5% 0%;
    text-align: center;
}
.link:hover, .active {
    background-color: honeydew;
    cursor: pointer;
}
.active-link {
    padding: 4.5% 5%;
}